/* Task: Nested tag - Assigning styles to body and its nested p tags using Sass */

body {
    margin: 0px;      // No margin for body
    padding: 0px;     // No padding for body
  
    p {
        margin: 10px;  // 10px margin for p tags inside body
    }
}
